{% include 'user_navigation.html' %}

<script>
    function room_price()
    {
     a=document.signup.select_days.value
     b=document.signup.price.value
     d=document.signup.total_ticket.value
     c=a*b*d
     alert('Final price is '+c)
     return true;
    }
</script>


<marquee style="font-family: 'Monotype Corsiva'; font-size:25px; color:darkcyan; background-color:black; font-weight:bold; margin-top:1%">
    Confirm Your Monument
</marquee>
<hr>
<center>
    <h3>Traveler Will Be Provided by the Admin when Booking Confirm</h3>
</center>
<form class="container mt-2" onsubmit="return room_price();" name="signup" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
        <div class="form-group col-md-6" >
            <label>First Name</label>
            <input type="text" class="form-control" name="fname" value="{{user.first_name}}" >
        </div>

        <div class="form-group col-md-6" >
            <label>Last Name</label>
            <input type="text" class="form-control" name="lname" value="{{user.last_name}}">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12" >
            <label>Email ID:</label>
            <input type="text" class="form-control" name="email" value="{{user.username}}" readonly required>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6" >
            <label>Contact Number:</label>
            <input type="text" class="form-control" name="contact" value="{{data2.mobile}}" required>
        </div>
        <div class="form-group col-md-6" >
            <label>Alternate Mobile Number:</label>
            <input type="text" class="form-control" name="contact2" placeholder="Optional">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6" >
            <label>Booking Date:</label>
            <input type="date" class="form-control" name="booking_date"  required>
        </div>

        <div class="form-group col-md-6" >
            <label>Number of Days:</label>
            <select class="form-control" name="select_days" >
                <option value="1">1 day</option>
                <option value="2">2 day</option>
                <option value="3">3 day</option>
                <option value="4">4 day</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6" >
            <label>Number of Ticket</label>
            <select class="form-control" name="total_ticket" >
                <option value="1">1 Ticket</option>
                <option value="2">2 Ticket</option>
                <option value="3">3 Ticket</option>
                <option value="4">4 Ticket</option>
                <option value="5">5 Ticket</option>
                <option value="6">6 Ticket</option>
                <option value="7">7 Ticket</option>
                <option value="8">8 Ticket</option>
                <option value="9">9 Ticket</option>
                <option value="10">10 Ticket</option>
            </select>

        </div>

        <div class="form-group col-md-6" >
            <label>Price Per Person:</label>
            <input type="text" class="form-control" readonly name="price" value="{{data.t_price}}">
        </div>
        <div class="form-group col-md-12" >
            <label>Write Your Address:</label>
            <input type="text" class="form-control" name="address" value="" placeholder="Enter Your Full Address" required>
        </div>
    </div>
<center>
    <input type="submit" value="Submit" class="btn btn-primary my-3" style="width:200px">
</center>
</form>


{% if error == "no" %}
<script>
    alert("Booking Request has been Send")
    window.location = ('{% url 'view_room_user' %}')
</script>
{% endif %}

{% if error == "non" %}
<script>
    alert("Booking Request Already present in this date.")
    window.location = ('{% url 'view_room_user' %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Somthing Wrong, Try Again...")
</script>
{% endif %}

{% include 'footer.html' %}