{% include 'admin_navigation.html' %}

<marquee behavior="alternate" style="font-family: 'Monotype Corsiva'; font-size:25px; color:darkcyan; background-color:black; font-weight:bold; margin-top:1%">
        Manage Booking Status
</marquee>
<hr>

<form class="container mt-5" method="post">
    {% csrf_token %}
    <label><b>Customer Name:</b></label>
    <input type="text" class="form-control" name="uname" value="{{data.full_name}}">
    <label><b>Status:</b></label>
    <select class="form-control" name="rstatus">
         <option value="Confirm">Confirm</option>
        <option value="Canceled">Cancel</option>
    </select>

    <input type="submit" class="btn btn-primary" style="margin-top:2%; color:darkcyan; background-color:black ; height:50px; font-size:25px">
</form>
{% if error == "no" %}
<script>
    alert("Status Changed Successfully")
    window.location = ('{% url 'view_booking_admin' %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong, Try Again")
</script>
{% endif %}

