{% load static %}

{% include 'admin_navigation.html' %}

<marquee behavior="alternate" style="font-family: 'Monotype Corsiva'; font-size:25px; color:darkcyan; background-color:black; font-weight:bold; margin-top:1%">
    Edit Monument Detail
</marquee>
<hr>
<form class="container mt-5" onsubmit="return checkpass();" name="signup" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
        <div class="form-group col-md-6" >
            <label>Place Name:</label>
            <input type="text" class="form-control" name="pname" placeholder="Enter Name of Place" value="{{data.p_name}}" required>
        </div>
        <div class="form-group col-md-6" >
            <label>Place State:</label>
            <input type="text" class="form-control" name="pstate" placeholder="Enter State of Place" value="{{data.p_state}}" required>
        </div>

    </div>

    <div class="row">
        <div class="form-group col-md-6" >
            <label>City(Location of place):</label>
            <input type="text" class="form-control" name="pcity" placeholder="Location of place" value="{{data.p_city}}" required>
        </div>
        <div class="form-group col-md-6" >
            <label>Ticket Price:</label>
            <input type="text" class="form-control" name="tprice" placeholder="Price of Ticket per person" value="{{data.t_price}}" required>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6" >
            <label>Ticket Status:</label>
            {% if data.status == "Available" %}
            <select class="form-control" name="status">
                <option value="Available" selected>Available</option>
                <option value="Not Available">Not Available</option>
            </select>
            {% endif %}
            {% if data.status == "Not Available" %}
            <select class="form-control" name="status">
                <option value="Available">Available</option>
                <option value="Not Available" selected>Not Available</option>
            </select>
            {% endif %}

        </div>
        <div class="form-group col-md-2" >
            <img src="{{data.image.url}}" height="80" width="180">
        </div>
        <div class="form-group col-md-4" >
            <label>Upload Image:</label>
            <input type="file" class="form-control" name="image">
        </div>

    <div class="row">
        <div class="form-group col-md-12" >
            <label>Include Additional Activities:</label>
            <input type="text" class="form-control" name="activity" value="{{data.activity}}" placeholder="Write all Additional activities here..." required>
        </div>
        </div>
        <div class="row">
        <div class="form-group col-md-12" >
            <label>History of Place:</label>
            <textarea class="form-control" style="resize:none;" name="phistory" placeholder="History of place" required>{{data.history}}</textarea>
        </div>
        </div>

    </div>
<center>
    <input type="submit" value="Update" class="btn btn-primary my-3" style="width:250px">
</center>
</form>

{% if error == "no" %}
<script>
    alert("Monument Detail Updated Successfully")
    window.location = ('{% url 'view_room_admin' %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something Wrong, Try Again...")
</script>
{% endif %}