{% include 'admin_navigation.html' %}

<marquee style="font-family: 'Monotype Corsiva'; font-size:25px; color:darkcyan; background-color:black; font-weight:bold; margin-top:1%">
    Contact Detail
</marquee>
<hr>
<table class="table table-primary">
    <tr>
        <th>S. No.</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Purpose</th>
        <th>Action</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.c_name}}</td>
        <td>{{i.c_email}}</td>
        <td>{{i.c_mobile}}</td>
        <td>{{i.c_purpose}}</td>
        <td><a href="{% url 'delete_contact' i.id %}" class="btn btn-danger btn-sm">Delete</a></td>
    </tr>
   {% endfor %}

</table>


    {% if not data %}
<center>
    <label style="margin-left:100px;font-size:50px;font-weight:bold;">No Data Found</label>
    <a href="{% url 'admin_home' %}" class="btn btn-primary" style="font-size:40px;font-weight:bold;margin-left:30px;">Back</a>
</center>
     {% endif %}
{% include 'footer.html' %}
