{% include 'admin_navigation.html' %}
<marquee style="font-family: 'Monotype Corsiva'; font-size:25px; color:darkcyan; background-color:black; font-weight:bold; margin-top:1%">
    All Booking
</marquee>
<hr>

<center class="float:right;">
    <form method="POST" action="/searchh" class="mt-2">
        {% csrf_token %}
        <input type="search" name="name" placeholder="Search Booking by Email">
        <input type="submit" class="btn btn-primary btn-sm"> | <a href="{% url 'view_booking_admin' %}" class="btn btn-secondary btn-sm">Cancel</a>
    </form>
</center>
<table class="table">
    <tr>
        <th>S. No.</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Booking Date</th>
        <th>No. Of Days</th>
        <th>Total Ticket</th>
        <th>Price</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.full_name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.contact}}</td>
        <td>{{i.bookint_date}}</td>
        <td align="center">{{i.days}}</td>
        <td align="center">{{i.gender}} Person</td>
        <td>{{i.price}}</td>
        {% if i.status == "Pending" %}
        <td><a href="{% url 'change_status' i.id %}">{{i.status}}</a></td>
        {% endif %}
        {% if i.status == "Confirm" %}
        <td><a href="{% url 'change_status' i.id %}" style="color:green;">{{i.status}}</a></td>
        {% endif %}
        {% if i.status == "Canceled" %}
        <td><a href="{% url 'change_status' i.id %}" style="color:red;">{{i.status}}</a></td>
        {% endif %}
        <td><a href="{% url 'delete_booking' i.id %}" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% if not data %}
<center>
    <h1>No Booking Data Found</h1>
</center>
{% endif %}

{% include 'footer.html' %}
